<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="with=device-width, initial-scale=1">
    <title>Custom Pages examples</title>
  </head>
  <body>
    <h1>My site</h1>
    <h2>Page Examples</h2>

    <ul>
      <li>visit <a href="/500">500</a></li>
      <li>visit <a href="/404">404</a></li>
      <li>visit <a href="/403">403</a></li>
    </ul>
  </body>
</html>